@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*LIGHT MODE*/
  --color-sgr-bg-primary-l: #e8e8e8;
  --color-sgr-bg-secondary-l: #f6f6f6;
  --color-sgr-bg-tertiary-l: #990100;
  --color-sgr-bg-confirm-l: #08a300;
  --color-sgr-bg-cancel-l: #af0000;
  --color-sgr-bg-info-l: #005dc7;

  --color-sgr-font-primary-l: #282828;
  --color-sgr-font-secondary-l: #ffffff;
  --color-sgr-font-tertiary-l: #990100;

  /*DARK MODE*/
  --color-sgr-bg-primary-d: #e8e8e8;
  --color-sgr-bg-secondary-d: #f6f6f6;
  --color-sgr-bg-tertiary-d: #990100;
  --color-sgr-bg-confirm-d: #08a300;
  --color-sgr-bg-cancel-d: #af0000;
  --color-sgr-bg-info-d: #005dc7;

  --color-sgr-font-primary-d: #282828;
  --color-sgr-font-secondary-d: #ffffff;
  --color-sgr-font-tertiary-d: #990100;
}
